<!--update modell-->
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Model</title>
    <link rel="stylesheet" href="/addmodel.css">
    <link rel="stylesheet" href="/navbar.css">

  </head>
  <body>
    <%- include("navbar.ejs") %>
    <div class="form">
        <h2>Update Model</h2>
        <h3><%= brand.brand %></h3>
        <form method="POST" action="/<%= brand.id %>/updatemodel" >
          
           <li>
               <label for="model">Model</label>
               <input type="text" name="model" id="model" value="<%= brand.model %>" required>
           </li>
           <li>
               <label for="type">Type</label>
               <input type="text" name="type" id="type" value="<%= brand.type %>" required>
           </li>
            <li>
               <label for="seats">Seats</label>
               <input type="number" name="seats" id="seats" value="<%= brand.seats %>" required>
             </li>
           <button type="submit">
                  submit    
            </button>
        </form>
    </div>

  </body>
</html>